<div class="container_edit d-flex">
  <div class="container_edit_form d-flex flex-column justify-content-center align-items-center align-self-center">
    <h1>Editing store</h1>

    <%= render "form", store: @store %>

    <div class="container_edit_links row d-flex justify-content-center align-items-center">
      <div class="col-6 col-lg-6 ">
        <%= link_to "Show this store", @store %>
      </div>
      <div class="col-1 col-lg-1 ">|</div>
      <div class="col-5 col-lg-5">
        <%= link_to "Back to stores", stores_path %>
      </div>
    </div>
  </div>
</div>

<style>
.container_edit{
  height: 500px;
  justify-content: center;
}
.container_edit_form{
  width: 400px;
  height: 400px;
  gap: 30px;
  background-color: aqua;
  border-radius: 20px
}

.container_edit_links {
  width: 300px;
}

</style>