<div class="container_user d-flex flex-column p-2" id="<%= dom_id user %>">
  <div class="mb-2">
    <strong>Email:</strong>
    <%= user.email %>
  </div>
  <div class="mb-2">
    <strong>Role:</strong>
    <%= user.role %>
  </div>
</div>

<style>
  .container_user{

  }
</style>
