<div class="container_edit d-flex">
  <div class="container_edit_form d-flex flex-column justify-content-center align-self-center">
    <h1>Editing product</h1>

    <%= render "form", product: @product %>

  <div class="container_edit_links d-flex flex-column align-items-center">
        <%= link_to "Show this product", store_product_path(@store, @product) %>
        <%= link_to "Back to products", store_path(@store) %>
  </div>
</div>

<style>
  main{
    justify-content: center;
    background-image: url('<%= asset_path 'chef.jpg' %>');
  }
.container_edit{
  height: 500px;
  justify-content: center;
}
.container_edit_form{
  width: 250px;
  height: 400px;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 1rem;
}

  @media (min-width:600px){
    main {
      justify-content: start;
    }
    .container_edit{
      margin-left: 2rem;
      width: 400px;
    }

    .container_edit_form{
      width: 500px;
    }
  }

</style>
