<div class="container_new">
  <div class="container_new_form">
    <h1>New product</h1>

    <%= render "form", product: @product %>

    <div class="container_edit_links d-flex flex-column align-items-center">
      <%= link_to "Back to products", store_path(@store) %>
    </div>
  </div>
</div>

<style>
  main{
    justify-content: center;
    background-image: url('<%= asset_path 'chef.jpg' %>');
  }
.container_new{
  display: flex;
  height: 500px;
  justify-content: center;
  padding-top: 2rem;
}
.container_new_form{
  width: 250px;
  height: 400px;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 1rem;
}

  @media (min-width:600px){
    main{
      justify-content: start;
    }
    .container_new{
      justify-content: start;
      margin-left: 2rem;
      width: 400px;
    }

    .container_new_form{
      width: 500px;
    }
  }

</style>
